@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact Information</h3>

<address>
    One Queen Street<br />
    New Zealand,Auckland<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gmail.com">Support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gmail.com">Marketing@gmail.com</a>
</address>